{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="mysite/static/mysite/style.css" />
  <title>GW Learning Grounds</title>
  <meta charset="UTF-8">
</head>

<body>
  
  <hr>
  <div id="navdiv">
    <h1>navbar</h1>
    <ul id="navbar">
      <li><a href="/animals/1">Animals</a></li>
      <li><a href="/gpics/">GPic Gallery</a></li>
    </ul>
  </div>
  <hr>
  <span id="bodycontainer">
    <div id="sidebar">
      Sidebar goes here<br>
      second line of sidebar<br>
    </div>
    <div id="bodycontent">
      <h1>Body Content</h2>
      <p>Content section placeholder</p>
    </div>
  </span>
</body>
</html>
